@{
   List<SelectListItem> categories = ViewBag.ParentCategories;
 }

@using (Html.BeginForm("create", "categories", FormMethod.Post))
{
    <div class="form-group">
        <div class="input-group col-lg-6">
            <span class="input-group-addon"><span class="glyphicon glyphicon-edit"></span></span>
            @Html.TextBox("name",null,new { placeholder = "Name", @class="form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-tags"></span></span>
            @Html.DropDownList("parent", (List<SelectListItem>)ViewBag.ParentCategories, "- Select Parent -",new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Close</button>
    </div>
}