@using EVS336.GarmentsShop.Models.Categories
@model DeleteModel


@using (Html.BeginForm("delete", "categories", FormMethod.Post))
{
    <div class="form-group">
        <div class="input-group col-lg-6">
            <label>Name:</label>   @Html.DisplayFor(m=>m.Name, new { placeholder = "Name", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <label>Parent:</label>@Html.DisplayFor(m => m.Parent, new { placeholder = "Name", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save"></span> Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
    </div>
}
